@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

    :root{
        --main-color:#06a2d1;
        --main-hover-color:#06728d;
        --secondry-color:#ff00d4;
        --bg-color:#0f0f0f;
        --shadow-color:rgba(255, 255, 255, 0.123);
        --text-color:#fff;
        --sc-hover:rgba(255, 255, 255, 0.5);
        --shadow-color-2:rgba(6, 162, 209, 0.11);
    }
    


    body{
        background-color: var(--bg-color);
    }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 8px 180px;
    height: 10vh;
    flex-wrap: wrap;
}

.light{
    --bg-color:#fff;
    --shadow-color:rgba(0, 0, 0, 0.178);
    --text-color:#000;
    --sc-hover:rgba(0, 0, 0, 0.5);
}
    



   




    
ul li{
    display: inline-block;
    margin: 0px 6px;
    font-size: 1.1em;
    position: relative;
    overflow: hidden;
    
}
 
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--main-color);
}


ul li a{
    text-decoration:none ;
    color:var(--text-color) ;
    transition: 0.5s ease;

}


@media (max-width:500px)  {
    header{
        height: 10vh;
        
    }
    
  
     header .logo{
        width: 100%;
        display: flex;
        justify-content: center;
     }
     nav {
     margin: auto;
     }

    
}
@media (max-width:395px) {
 
    li a{
        font-size: 16px;
    }
    
}

 ul li a:hover{
  
    color: var(--main-color);
 } 

 ul li a:hover::before{
    left: 0;
} 
.logo{
    width: 3.25em;
    transition: 0.7s ease;
    color: var(--main-color);

}





section{
    padding: 200px 200px;
    margin-bottom: 100px;
}
.cont{
    display: inline-block;
}
.main{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-color: var(--bg-color);
    position: relative;
    
}
.main img{
    position: absolute;
    width: 45em;
    left:52%;
    
    display: inline-block;
    animation:up-and-down 5s linear infinite ;
    
    
}
.main h2{
    color: #ff0099;
    font-size: 1.2em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    color: var(--main-color);
    font-size: 2em;
    font-weight: 600;
    margin-top: 10px;
}
.main h3{
    color: var(--secondry-color);
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-button{
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 0.9375em 2.1875em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.7s ease;
}
.fa-angles-down{
    color: var(--main-color);
    text-decoration: none;
    position: absolute;   
    bottom:100px ;
    font-size: 3em;
    left: 50%;
    transform: matrix(-50%);
    animation: bouncing 1.5s infinite;
    
    
}
@keyframes up-and-down{
    0%,100%{
        top:10%
    }
    50%{
        top: 20%;
    }
}
@keyframes bouncing{
  0%,10%,20%,50%,80%,100%{
    transform: translateY(0);
  }
  40%,60%{
    transform: translateY(-15px);
  }
}

.main-button:hover{
    background-color: var(--main-hover-color);
    font-size: 1.2em;
}
.sc{
    margin-left:10px ;
}
.sc a{
    color: var(--text-color);
    font-size: 1.4em;
    padding-right: 20px;
    transition: 0.7s ease;
}
.sc a:hover{
    color: var(--sc-hover);
    font-size: 1.5em;
}
@media (max-width:915px){
    .main{
        padding-bottom: 50px;
    }
}
@media (max-width:395px){
    
}
@media (max-width:300px){
    ul li a{
        font-size: 8px;
    }
}



.titel{
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    
}
.cont{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
}


.card{
    width: 21.25em;
    background-color: var(--bg-color);
    box-shadow: 9px 9px 20px 4px var(--shadow-color),-1px -1px 25px var(--shadow-color-2);
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    color: var(--text-color);
}
.card:hover{
  transform:scale(1.1,1.1);
}
.icon{
    color: var(--main-color);
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
} 

.projects {
    background-color: var(--bg-color);
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: var(--bg-color);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    box-shadow: 9px 9px 20px  var(--shadow-color),-1px -0px 25px var(--shadow-color-2);
    color: var(--text-color);
}
.toggel{
    display: inline-block;
    margin: 0px 2px;
    font-size: 1.1em;
    position: relative;
    overflow: hidden;
}
input{
    opacity: 0;
    cursor: pointer ;
    position: absolute;
    right: 150px;
    top: 30px;
} 
#moon{
    display: inline-block;
    pointer-events: none;
    position: absolute;
    right: 150px;
    top: 30px;
    opacity:0
}
#sun{
    display: inline-block;
    pointer-events: none;
    position: absolute;
    right: 150px;
    top: 30px;
    opacity: 1;

}

.toggle input:checked + label #moon {
    opacity: 1;
  }
  .toggle input:checked + label #sun {
    opacity: 0;
  }

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: var(--text-color);
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    
}

.more-details {
    text-decoration: none;
    color: var(--main-color);
}
.more-details:hover{
    color: #C70BC7;
}
  

.icon-cont{
    color: var(--main-color);
    font-size: 4.5em;
    text-align: center;
}
.contact  .info h3{
   color: var(--text-color);
   
}
.contact .info p{
    font-size: 1.3em;
}
footer{
    background-color: var(--bg-color);
    padding: 2em;
    display: flex;
    justify-content: space-between;

}
footer p{
    color: var(--text-color);
}
footer span{
    color: var(--main-color);
}
footer .sc a{
    font-size: 1.2em;
    padding-right: 10px;
    color: var(--text-color);
    transition: 0.5s ease;
}
footer .sc a:hover{
    font-size: 1.3em;
    color: #b8b6b6;
} 

  


@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .nav li a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }


    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width:1400px){
     .main img{
        font-size: 0.69em;
     }
}
@media (max-width:917px){
       header{
        height: 8vh;
       }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }
   
   
}
   .menu{
    
     background-color: #fff;
     width: 100%;
     
    
    
}


    .main div h2{
        font-size: 0.8em;
    }

    .main div h3{
        font-size: 1.4em;
    }


@media (max-width:300px){
    body{
        font-size: 16px;
     
    }


}

@media (min-width:768px) and (max-width:950px) {
       header{
        height: 11vh;
       }

      
}
@media (max-width:667px){
    header{
        min-height: 15vh;
}
.main img{
    display: none;
 }
}
